/*
    Author  : FELIPECORREAGOMES
*/

#bloco-e{
    position:relative;
	left:50%;
        margin-top: 0.1em;
    top:20px;
	margin-left:-35%;
	width:70%;
	height:300px;
	background-color:rgba(34,0,0,.4);
    color:#fff;
	/*display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;*/
}
.b-c{
	background-color:rgba(0,0,0,.4);

}

.b-p{
	position:relative;
	top:8%;
    font-size:1.5em;
    text-align: center;
}

.b-s,.b-p{
	display:block;

	width:35%;
	margin-left:3%;
}
.b-s{
    position:relative;
	top:15%;
    height:65%;
    padding-top: .7em;
}

.b-s+.b-p{
float:left;
}

.b-t{

    position: relative;
    float:right;
    font-size: .7em;
    color:#fff;
    margin-right:100px;
    margin-top:-19%;
    letter-spacing: -1px;
    padding: 1.15em;
    width: 250px;
    height:150px;
}
#prom{
	width:250px;
    height:150px;
}
/*
li.menu-it{
        float: left;
		list-style-type: none;
		padding: 0em 0.56em 0em 0.56em;
		background-color: #ccc;

}
.img-d{
	margin-left:1em;
	margin-top:0.2em;
width:70px;	
	
	
}

.img-dm{
	width:520px;
}
.degrade{
	background: linear-gradient(rgba(123,0,0,.5), rgba(255,255,255,.2));
	/*opacity:0.5;
    -moz-opacity: 0.5;
    filter: alpha(opacity=50);
}
.menu-it:hover,#bt-log:hover{
	transition:all 0.2s ease;
	background-color: #bbb;
	color:#fff;
	opacity:1;
}
.img-fundo{
	position:absolute;
	width:100%;
	z-index: -5;
	opacity:0.8;
	
	
}

#bt-log{
	padding: 0em 0.56em 0em 0.56em;
	position:relative;
	float:right;
	margin-top:-30px;
	background-color: #fcc;
}

.ativo{
	margin-top:-3px;
	color:#570000;
	border-top: solid 3px #500;
	border-bottom: solid 3px #500;
}*/