/*
    Author  : FELIPECORREAGOMES
*/

#menu{
    position:fixed;
    top:87px;
    right:5%;
    margin-top:-2em;
    z-index: 5;
    transition: all 0.4s ease ;
}

li.menu-it{
    float: left;
    list-style-type: none;
    padding: 0em 0.56em 0em 0.56em;
    background-color: #ccc;

}

.img-d{
    position: fixed;
    float:left;        
    margin-left:1em;
    margin-top:0.2em;
    width:70px;	
    display: block;
    z-index: 10;
    transition: all 0.4s ease ;
}

.img-dm{
    position: fixed;
    top: 2em;
    margin-left: auto;
    left:7em;
    float:left; 
    width:520px;
    display: block;
    z-index: 10;
    transition: all 0.4s ease ;
}

/*.degradefixo{
    position: fixed;
    
}*/


.degradem{
    position: fixed;
    background: linear-gradient(rgba(123,0,0,.5), rgba(255,255,255,.1));
    z-index: 10;
    transition: all 0.4s ease ;
    /*opacity:0.5;
-moz-opacity: 0.5;
filter: alpha(opacity=50);*/
}

.menu-it:hover{
    transition:all 0.2s ease;
    background-color: #bbb;
    color:#fff;
    opacity:1;
    border-top: solid 3px #500;
    border-bottom: solid 3px #500;
    margin-top:-3px;
}

#bt-log:hover{
    transition:all 0.2s ease;
    background-color: #bbb;
    color:#fff;
    opacity:1;
    border-top: solid 3px #500;
    border-bottom: solid 3px #500;
    margin-top:-30px;/*////////////*/
}

.img-fundo{
    position:absolute;
    width:100%;
    z-index: -5;
    opacity:0.8;
}

#bt-log{
    padding: 0em 0.56em 0em 0.56em;
    position:relative;
    float:right;
    margin-top:-27px;/*////////////*/
    background-color: #fcc;
}

.ativo{
    margin-top:-3px;
    color:#570000;
    background-color: #fff !important;
    border-top: solid 3px #500;
    border-bottom: solid 3px #500;
}
.ativo:hover{
    transition:all 0.2s ease;
    color:#000;
    background-color: #ccc !important;
    border-top-color:#200;
    border-bottom-color: #200;

}
