/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15/09/2018, 23:13:14
    Author     : felipecg
*/body{
    text-align: center;
    background-color: rgba(0,0,0, 0.3);
}
.float-cadc{
    position: relative;
    width: 400px;
    height: 400px;
    left:50%;
    top:50px;
    margin-left: -200px;
    border-top: 6px;
    border-left: 1px;
    border-right: 1px;
    border-bottom:  6px;
    border-style: solid;
    border-color: #500 #000 #500 #000;
    background-color: #fff;
}
.float-cadc img{
    position: relative;
    display: block;
    width: 200px;
    height:auto; 
    left: 50%;   
    
    margin-left: -25%;
}
.float-c-bord{
    position: relative;
    display: block;
    height:auto; 
    left: 50%; 
    margin-left: -15%;
    width: 30%;
    border:solid 2px #500;
}
.float-cadc p{
    max-width: 90%;
}
.float-cadc a p{
    position:relative;
    border-bottom: solid 5px #500;
    left:35%;
    max-width: 30%;
    cursor: pointer;
}